.news {
	margin: 60px auto;
}
.news-list {
	margin: 0 auto;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.news-item {
	position: relative;
}
.news-item::after {
	position: absolute;
    top: 50%;
    right: 30px;
    width: 0.5em;
    height: 0.5em;
    transform: translateY(-50%) rotate(45deg);
    border-right: 2px solid #888;
    border-top: 2px solid #888;
    content: "";
}
.news-item a {
	display: flex;
	text-decoration: none;
	align-items: center;
	gap: 10px;
	padding: 0px 40px 0px 30px;
	border-top: 1px solid #FFCC60;
	border-bottom: 1px solid #FFCC60;
	transition: .5s;
}
.news-item a:hover {
	opacity: .5;
}
.news-item:nth-child(2n) {
	background-color: #FFF8EE;
}
.news-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	width:130px;
}
.news-title {
	width: 570px;
    color: #2C3135;
}
.news-time {
	font-size: 14px;
	letter-spacing: 1px;
	color: #888;
}
.news-category {
	font-size: 12px;
	color: #fff;
	background: #FFCC60;
	padding: 2px 8px;
	border-radius: 2px;
}
@media (min-width: 320px) and (max-width: 1023px) {
	.news-list {
		width: 80%;
		min-width: 520px;
	}
	.news-title {
		width: calc(100% - 110px);
	}
}
@media (min-width: 320px) and (max-width: 599px) {
	.news {
		margin: 40px auto;
	} 
	.news-list {
		width: 80%;
		min-width: 300px;
	}
	.news-info {
		flex-direction: row;
		align-items: center;
		width: 100%;
		gap: 10px;
        margin: 0;
	}
	.news-title {
		width: 100%;
        margin: 0;
	}
	.main-news-time {
		font-size: 10px;
	}
	.news-category {
		padding: 1px 5px;
	}
	.news-item a {
		gap: 5px;
		flex-direction: column;
		align-items: flex-start;
        padding: 12px 40px 12px 30px;
	}
}

.movie-block {
    margin: 30px;
}
.movie-block h2 {
    color: #7A5D46;
    position: relative;
    margin: 0 auto;
    font-size: 18px;
    padding: 0  0 0 20px;
    max-width: 530px;

}
.movie-block h2::before {
    content: '';
    background: url("images/h2-icon.svg");
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 6px;
    left: 0;
}
.movie-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 530px;
    margin:10px auto;
    gap: 10px;
}
.movie-item {
    width: calc(50% - 40px);
    background: #F9E5CD;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    padding: 0px 10px 0px 20px;
    height: 80px;
    align-items: center;
    text-decoration: none;
    transition: .5s;
}
.movie-item:hover {
    transform: scale(.9);
}
.movie-icon {
    background-color: #fff;
    padding: 10px;
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 15px;
}
.movie-icon::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
}
.movie-item h3 {
    margin: 0;
    color: #7A5D46;
    font-size: 20px;
    font-weight: bold;
}
.movie-info {
    display: flex;
    flex-direction: column;
}
.movie-info p {
    color: #9C7D66;
    margin: 0;
    font-weight: bold;
}
.movie-icon1::before {
    background: url("images/btn1.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.movie-icon2::before {
    background: url("images/btn2.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.movie-icon3::before {
    background: url("images/btn3.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.movie-icon4::before {
    background: url("images/btn4.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.movie-icon5::before {
    background: url("images/btn5.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.movie-icon6::before {
    background: url("images/btn6.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.movie-icon7::before {
    background: url("images/btn7.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.movie-icon7::before {
    background: url("images/btn7.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.movie-icon8::before {
    background: url("images/btn8.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.movie-icon9::before {
    background: url("images/btn9.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.movie-icon10::before {
    background: url("images/btn10.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.movie-icon11::before {
    background: url("images/btn11.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.movie-icon12::before {
    background: url("images/btn12.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.movie-icon13::before {
    background: url("images/btn13.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.movie-icon14::before {
    background: url("images/btn14.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.movie-icon15::before {
    background: url("images/btn15.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.movie-icon16::before {
    background: url("images/btn16.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.movie-icon17::before {
    background: url("images/btn17.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.movie-icon18::before {
    background: url("images/btn18.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.movie-icon19::before {
    background: url("images/btn19.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.movie-icon20::before {
    background: url("images/btn20.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.support-btn {
    background-color: #FEFFBC;
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    padding: 0px 10px 0px 20px;
    height: 80px;
    align-items: center;
    text-decoration: none;
    transition: .5s;
}
.movie-info {
    color: #2B2C1A;
}
.movie-info h3 {
    font-weight: bold;
}
.movie-icon21::before {
    background: url("images/btn21.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.support-btn:hover {
    transform: scale(.9);
    text-decoration: none;
}
@media (min-width: 320px) and (max-width: 599px) {
    .movie-item {
        width: 100%;
    }
    .support-btn {
        width: 300px;
    }
    br.sp-none {
        display: none;
    }
}
